<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Projeto Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- Menu Lateral -->
    <div class="sidebar">
        <h2>Meu Menu</h2>
        <a href="{{ url_for('home') }}">Quem Sou Eu</a>
        <a href="{{ url_for('page1') }}">Projetos Futuros</a>
        <a href="{{ url_for('page2') }}">O que Gosto</a>
    </div>

    <!-- Conteúdo Dinâmico -->
    <div class="content">
        {% block conteudo %}
        {% endblock %}
    </div>

</body>
</html>
